body {
  padding-top: 20px;
  padding-bottom: 40px;
}

.navbar {
  margin-bottom: 20px;
}

html {
  position: relative;
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #e5e5e5;
}

img { 
  display:block ;
  margin-left:auto ;
  margin-right:auto ;
}

.description {
  font-size: 12pt !important;
}

.extraspacing {
  margin-top: 10pt;
}
